

  <div class="card">

    <div class="card-header">
      <h4>Menu Principal</h4>
    </div>

    <div class="card-body row">

      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let activity of movements">

        <div class="card">
          <div class="card-body">

            <h5 class="card-title">{{activity.title}}</h5>
            <p class="card-text">{{activity.description}}</p>
            <a
            [routerLink]="[activity.link]"
            class="btn btn-primary"
            style="opacity: 0.8;">
              Ir a {{activity.title}}
          </a>
          </div>
        </div>
      </div>

    </div>


  </div>



