

<div class="card">

  <div class="card-header">
    <h4>Pagos Multiples</h4>
  </div>

  <div class="card-body row">

    <div
    *ngFor="let item of items"
    class="col-lg-4 col-md-6 col-sm-12"
  >
    <div class="card">
      <div class="card-body" [ngClass]="{'disabled': !item.active}">
        <h5 class="card-title">{{ item.description }}</h5>
        <p class="card-text"></p>
        <a
          [routerLink]="item.link"
          class="btn btn-primary"
        >
          {{ item.buttonText }}
        </a>
      </div>
    </div>
  </div>


</div>

</div>



