

    <a class="nav-link" routerLink="/reservar" routerLinkActive="active">

      <div class="fixed d-flex">

        <span class="material-icons" style="font-size: 62px;color:white;">
          control_point_duplicate
        </span>   
        
        <span style="padding-left:6px;padding-top:7px">
          Reservar Lote
        </span>   
    
      </div>
    
      <div id="map-div" style="">
        
        <img id="map-im" src="../../../assets/img/{{barrio}}.jpg" alt="">  
    
      </div>
    
    </a>

 

