<div *ngIf="ld_header" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>


<div class="card px-0 mb-3">

  <div class="card-header pt-3 d-flex align-items-center">
     
      <button class="btn p-0 me-2" (click)="goBack()">
        <i class="fas fa-arrow-circle-left" style="font-size: 170%; color:black !important; opacity: 0.7;"></i>
      </button>

    <h6>{{ organismo_descripcion }}</h6>
  </div>

  <div *ngIf="validationData?.header" class="card-body pb-3">
    <div class="d-flex flex-wrap">
      <div *ngFor="let field of metadata.HEADER" class="d-flex flex-column justify-content-center"
        style="flex: 1 0 0%;">
        <div class="label fw-normal">{{ field.header }}:</div>
        <p class="fw-500">
          <!-- Apply pipe if it exists -->
          <ng-container *ngIf="field.pipe; else noPipeHeader">
            <ng-container *ngIf="field.pipe === 'date'">
              {{ validationData.header[field.field] | date:'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngIf="field.pipe === 'BsiCurrencyPipe'">
              {{ validationData.header[field.field] | BsiCurrencyPipe }}
            </ng-container>
          </ng-container>
          <!-- Fallback for no pipe -->
          <ng-template #noPipeHeader>
            {{ validationData.header[field.field] }}
          </ng-template>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="showHistory" class="card px-0 mb-3">
    <div class="card-header pb-0 pt-3 pb-3">
      <h6>Historial de transacciones</h6>
    </div>

    <div class="card-body pb-3 d-flex flex-wrap">

      <p class="fw-bold">

        <select class="form-select" aria-label="Default select example" (change)="getListComboById($event)">
          <option selected value="">Elija una registro</option>
          <option *ngFor="let tran of tranfeList" [value]="tran.id">
            {{ tran.descripcion }}
          </option>
        </select>

      </p>

    </div>

  </div>

  <!-- ACCIONES -->
  <div *ngIf="!showHistory && TipoModulo == 'PAGO' || TipoModulo == 'CUENTA'" class="card px-0 mb-3">
    <div class="card-header pt-3 pb-3">
      <h6>Exportar</h6>
    </div>

    <div class="card-body d-flex flex-wrap">

      <button *ngIf="areAllRecordsValid" type="button"
        class="btn btn-primary col-12 col-md-2 d-flex align-items-center justify-content-center"
        (click)="generatePdfContrato()">
        <i class="fa fa-file-contract me-2"></i>
        Descargar Nota
      </button>

      <button type="button" class="btn btn-primary col-12 col-md-2 d-flex align-items-center justify-content-center"
        (click)="generatePdfTable()">
        <i class="fa fa-file-contract me-2"></i>
        Descargar Lista Pagos
      </button>

      <button type="button" *ngIf="allRecordsValid"
        class="btn btn-primary col-12 mx-2 col-md-2 d-flex align-items-center justify-content-center"
        (click)="getFile()">
        <i class="fa fa-file-download me-2"></i>
        Descargar Archivo
      </button>

    </div>
  </div>

  <!-- Verifica si validationData.items está definido y tiene al menos un elemento -->
<div class="card px-0 mb-3" *ngIf="validationData?.items?.length > 0">
  <div class="card-header pt-3 pb-3">
    <h6>{{ headerTitle }}</h6>
  </div>

  <div class="card-body m-3 p-0">
    <div class="table-responsive table-style">
      <table class="table table-striped table-condensed table-hover mb-0">
        <thead class="opacity-style">
          <tr class="header-style">
            <th class="text-start">#</th>
            <th *ngFor="let col of metadata['TABLE-COLUMN']" [class.text-start]="col.type === 'label'"
                [class.text-center]="col.type === 'result'" [class.text-end]="col.type === 'currency'">
              {{ col.header }}
            </th>
          </tr>
        </thead>

        <tbody class="monospace-text table-verified-ft">
          <ng-container *ngFor="let sol of validationData?.items; let i = index">
            <tr>
              <td [ngClass]="{ 'text-danger': sol.VALIDO === 0, 'text-start': true }">
                {{ i + 1 }}
              </td>
              <td *ngFor="let col of metadata['TABLE-COLUMN']" [class.text-start]="col.type === 'text'"
                  [class.text-start]="col.type === 'label'" [class.text-center]="col.type === 'result'"
                  [class.text-end]="col.type === 'currency'">
                
                <!-- Mostrar datos en función del tipo de columna -->
                <ng-container *ngIf="col.type === 'currency'">
                  {{ sol[col.field] | BsiCurrencyPipe }}
                </ng-container>

                <ng-container *ngIf="col.type === 'text'">
                  {{ sol[col.field] }}
                </ng-container>

                <ng-container *ngIf="col.type === 'number'">
                  {{ sol[col.field] }}
                </ng-container>

                <ng-container *ngIf="col.type === 'date'">
                  {{ sol[col.field] | date:'dd/MM/yyyy' }}
                </ng-container>

                <ng-container *ngIf="col.type === 'result'">
                  <!-- Mostrar ícono de edición solo si está modificado -->
                  <i *ngIf="sol['descripcion_validacion'] && sol['descripcion_validacion'].includes('modificado')" 
                     class="fas fa-pencil-alt" style="color: #FF9800 !important;"></i>

                  <!-- Mostrar check o X si no está modificado -->
                  <ng-container *ngIf="!(sol['descripcion_validacion'] && sol['descripcion_validacion'].includes('modificado'))">
                    <i *ngIf="sol[col.field]" class="fas fa-check text-success"></i>
                    <i *ngIf="!sol[col.field]" class="fas fa-times text-danger"></i>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
