
.btn-responsive {
  flex: 1 1 100%; /* Por defecto, los botones ocupan el 100% del ancho */
  margin: 5px 0; /* Agregar margen entre los botones */
}

@media (min-width: 768px) {
  .btn-responsive {
    flex: 1 1 25%; /* En pantallas de tamaño mediano y superior, los botones ocupan el 25% del ancho */
    margin: 5px; /* Ajustar el margen entre los botones */
  }
}

.card-header .fa {
  color: #0b76eaed !important;
  font-size: 1.3em;
  margin-bottom: 1px;
  margin-right: 7px !important;
}

.table-style {
  font-weight: 500;
  font-size: 0.9em;
}

/* Estilos generales */
.table-responsive {
  overflow-x: auto;
}

.font-monospace {
  font-family: 'JetBrains Mono', monospace;
  color: #4e4e4e;
}

.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table thead {
    display: none;
  }

  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 1rem;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.btn .fa {
  margin-right: 8px;
  font-size: 1em;
  opacity: 0.9;
}

.text-success {
  color: green !important; /* O el color que prefieras */
}

.text-danger {
  color: red !important; /* O el color que prefieras */
}

.fw-500 {
  font-weight: 500;
}

.card-header {
  padding-left: 14px !important;
}