<div class="d-flex align-items-center justify-content-center vh-100 position-relative">
  <div class="background-blur"></div>
  <div id="formContent" class="text-center p-4 border rounded shadow formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="first d-flex align-items-center justify-content-center mt-2">
      <span class="material-icons icon-md color-primary">
        supervisor_account
      </span>
      <span class="fw-bold color-primary">
        Bsi Informática
      </span>
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="form-control mt-3" (change)="updatetext()" placeholder="usuario" formControlName="user">
      <input type="password" id="password" class="form-control mt-3" placeholder="clave" formControlName="pass">
      <input type="submit" style="width: 90%; background-color:#366bd0;" class="fourth mt-3 btn btn-primary"
        value="{{login_txt}}">
    </form>

    <!-- Remind Password -->
    <div id="formFooter" class="d-none">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>