
<div class="col-md-6 offset-md-3">
  <div *ngIf="ld_header" class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div *ngIf="!ld_header" class="card">
    <div class="card-header pt-3">
      <h5>{{ pageTitle }}</h5>
    </div>

    <div class="card-body">
      <div class="row">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

          <div class="mt-2 d-flex flex-wrap">

            <ng-container *ngFor="let control of controls">

              <div style="flex: 0 0 25%;">

                <!-- Input -->
                <div class="form-group m-2" *ngIf="control.type === 'input'">
                  <label class="label" [for]="control.field">{{ control.header }}</label>
                  <input
                    [type]="control.inputType || 'text'" 
                    class="form-control" 
                    [id]="control.field" 
                    value="{{ data ? data[control.field] : '' }}"
                    [readonly]="control.readonly" />
                </div>
                
                <!-- Combo -->
                <div class="form-group m-2" *ngIf="control.type === 'select'">
                  <label class="label" [for]="control.field">{{ control.header }}</label>
                  <select class="form-control" [id]="control.field" [disabled]="control.disabled">
                    <option *ngFor="let option of control.options" [value]="option.id">{{ option.value }}</option>
                  </select>
                </div>
        
                <!-- Date -->
                <div class="form-group m-2" *ngIf="control.type === 'date'">
                  <label class="label" [for]="control.field">{{ control.header }}</label>
                  <input type="date" class="form-control" formControlName="{{ control.field }}" [id]="control.field" />
                </div>
        
                <!-- Range -->
                <div class="form-group m-2" *ngIf="control.type === 'range'">
                  <label class="label" [for]="control.field">{{ control.header }}</label>
                  <input type="range" class="form-control" [id]="control.field" formControlName="{{ control.field }}" [min]="control.min" [max]="control.max" />
                </div>
        
                <!-- Label -->
                <div class="form-group m-2" *ngIf="control.type === 'label'">
                  <label class="label">{{ control.header }}</label>
                  <p>{{ formGroup.get(control.field)?.value }}</p>
                </div>   
                
              </div>

            </ng-container>

          </div>

          <!-- Opciones de Carga -->

          <div class="form-group mt-3 m-2 d-flex flex-wrap" style="flex: 0 0 50%; width: 50%;">

            <label class="label w-100">Opciones de Carga</label>

            <div class="d-flex"style="width: 98% !important;">
            
              <button type="button" *ngIf="cargaManual" class="btn btn-primary fw-bold ml-2" style="flex: 1 0 24%;" (click)="navigateToRoute()">
                Carga Manual
              </button>

              <div style="width: 3%;"></div>
              <button type="button" class="btn btn-primary fw-bold ml-2" style="flex: 1 0 24%;" (click)="selectCargaArchivo()">
                Carga por Archivo
              </button>
            </div>
            
          </div>

    
          <div class="form-group mt-3 m-2" *ngIf="cargaArchivoSeleccionada" style="flex: 0 0 98.5%;">
            <label class="label" for="fileUpload">Carga de Archivo</label>
            <input type="file" name="upload" placeholder="Archivo" class="form-control" id="fileUpload" multiple
              ng2FileSelect [uploader]="uploader" />
          </div>
    
          <div class="row m-1" *ngFor="let item of uploader.queue" style="flex: 0 0 98.5%;">

            <div class="col-md-4 filename" style="padding-top: 7px">
              {{ item.file.name }}
            </div>
    
            <div class="col-md-5" style="padding-top: 13px">
              <div class="progress">
                <div class="progress-bar bg-progress" [ngStyle]="{ width: item.progress + '%' }"></div>
              </div>
            </div>
    
            <div class="col-md-3 d-flex" style="  margin-top: 5px;">
              <button type="button" class="btn btn-outline-danger mr-2" (click)="item.remove()">
                Cancelar
              </button>
              <button *ngIf="filesUploaded" disabled type="button" class="btn btn-outline-success">
                Subido
              </button>
            </div>
          </div>
    
          <div class="form-group m-2 mt-3" *ngIf="cargaArchivoSeleccionada" style="flex: 0 0 98.5%;">
            <button [ngClass]="{ 'btn-completed': filesUploaded }" class="btn btn-primary w-100 display-inherit"
              type="button" (click)="uploader.uploadAll()">
              {{ buttonText }}
            </button>
          </div>
    
          <div class="form-group mt-3 text-center" *ngIf="errorMessage">
            <label class="text-danger">{{ errorMessage }}</label>
          </div>
        </form>
      </div>
    </div>

  </div>

</div>