


<div class="col-md-6 offset-md-3">

    <div class="card">
  
      <div class="card-header pt-3">
        <h5>Carga de Documentacion</h5>
      </div>
  
      <div class="card-body">
  
        <div class="row">
  
          <form class="m-2" action="POST" enctype="multipart/form-data">

            <div class="form-group mt-3 m-2">
  
              <div class="row">
    
                <div class="col-md-12">
    
                  <select class="form-select" aria-label="Default select example" (change)="onConcetoSelect($event)">
                    <option selected value="">Elija una Concepto</option>
                    <option value="Sueldo">Sueldo</option>
                    <option value="Aguinaldo">Aguinaldo</option>
                    <option value="Proveedores"> Proveedores </option>         
                  </select>         
    
              </div>
    
              </div>
    
            </div>

            <div class="form-group mt-3 m-2">
  
              <div class="row">
    
                <div class="col-md-12">
    
                  <select class="form-select" aria-label="Default select example" (change)="onRotuloSelect($event)">
                    <option selected value="">Elija una Rotulo</option>
                    <option value="TR009V77">TR009V77</option>
                    <option value="TR009V77">TR009V77</option>         
                  </select>         
    
              </div>
    
              </div>
    
            </div>

       
            <div class="form-group m-2">

              <input type="file" name="upload" ngf-resize="{width: 200, height: 200, centerCrop: false}" 
              [(ngModel)]="nombre_archivo" placeholder="Arhivo" class="form-control" id="fileUpload" 
              multiple ng2FileSelect [uploader]="uploader">

            </div>
            
            <div class="row m-1" *ngFor="let item of uploader.queue">
  
              <div class="col-md-5 filename" style="padding-top: 7px;">{{item.file.name}}</div>
  
              <div class="col md-2" style="padding-top: 13px;">
                <div class="progress">
                  <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
                </div>

              </div>
      
              <div class="col-md-3 d-flex">
  
                  <button type="button" class="btn btn-outline-danger me-2" (click)="item.remove()"> cancel </button>

                  <button *ngIf="filesUploaded" disabled type="button" class="btn btn-outline-success"> Subido </button>

              </div>
  
            </div>
                   
            <div class="form-group m-2 text-center">
  
              <button [ngClass]="{'btn-completed': filesUploaded}" class="btn btn-primary w-100"  type="button" style="display: grid !important;" (click)="uploader.uploadAll()"> {{buttonText}} </button>
  
            </div>
    
          </form>
  
        </div>

      </div>
  
    </div>
  
  </div>
  

  