<div *ngIf="ld_header" class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="card px-0 mb-3">

    <div class="card-header pt-3">
        <h5> Buscar Pagos Anteriores</h5>

    </div>

    <div class="card-body pb-0">
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold">
                    <select class="form-select" aria-label="Default select example" (change)="getTrByID($event)">
                        <option selected value="">Elija un pago</option>
                        <option *ngFor="let empresa of tranfeList" [value]="empresa.ID_PagoHead">
                            {{ empresa.ConcatenatedValue }}
                        </option>
                    </select>
                </p>
            </div>
        </div>
    </div>

</div>


<div id="pdf-content">

    <div class="card px-0 mb-3" *ngIf="tranfeResponse.data.length > 0">

        <div class="card-header pt-3">
            <h3> {{ municipio }}</h3>
        </div>

        <div class="card-body pb-0">

            <div class="row">
                <div class="col-md-4">
                    <div class="label fw-normal">Fecha:</div>
                    <p class="fw-bold">{{ tranfeResponse.head.FECHA | date : 'dd/MM/yyyy' }}</p>
                </div>
                <div class="col-md-4">
                    <div class="label fw-normal">Cantidad de Transferencias:</div>
                    <p class="fw-bold">{{ tranfeResponse.head.CANTIDAD_TRANSFERENCIAS }}</p>
                </div>
                <div class="col-md-4">
                    <div class="label fw-normal">Importe Total:</div>
                    <p class="fw-bold">{{ tranfeResponse.head.TOTAL_IMPORTE | BsiCurrencyPipe }}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="label fw-normal">Cuenta Debito:</div>
                    <p class="fw-bold">{{ tranfeResponse.head.CUENTA_DEBITO }}</p>
                </div>
                <div class="col-md-4">
                    <div class="label fw-normal">Concepto:</div>
                    <p class="fw-bold">{{ tranfeResponse.head.CONCEPTO }}</p>
                </div>
            </div>
        </div>

    </div>

    <!-- ACCIONES -->
    <div class="card px-0 mb-3" *ngIf="tranfeResponse.data.length > 0">
        <div class="card-header">
            <h5>Exportar TR</h5>
        </div>

        <div class="card-body d-flex flex-wrap">
            <button type="button" class="btn btn-primary col-12 mx-2 col-md-2" (click)="generatePdfContrato()">Descargar
                Contrato</button>
            <button type="button" class="btn btn-primary col-12 mx-2 col-md-2" (click)="generatePdfTable()">Descargar
                PDF</button>
            <button type="button" class="btn btn-primary col-12 mx-2 col-md-2" (click)="getFile()">Descargar
                Archivo</button>
        </div>

    </div>

    <!-- RESULTADOS -->
    <div class="card px-0 mb-3" *ngIf="tranfeResponse.data.length > 0">

        <div class="card-header pt-3">
            <h5> Beneficiarios </h5>
        </div>

        <div class="card-body m-0 p-0">

            <table class="table table-striped table-condensed table-hover mb-0">
                <thead class="opacity-style">
                    <tr class="header-style">
                        <th style="padding-left: 15vh">CBU</th>
                        <th>Referencia</th>
                        <th style="text-align: right; padding-right: 15vh">Importe</th>
                    </tr>
                </thead>
                <tbody>

                    <ng-container *ngFor="let sol of tranfeResponse?.data">

                        <tr>
                            <td style="font-family: 'JetBrains Mono', monospace;color: #4e4e4e;width: 42%;
                                padding-left: 15vh;">
                                {{
                                sol.CBU
                                }}
                            </td>

                            <td>{{ sol.APELLIDO }}</td>

                            <td style="font-family: 'JetBrains Mono', monospace;color: #4e4e4e; text-align: right; 
                                padding-right: 15vh">

                                {{ sol.IMPORTE | BsiCurrencyPipe }}

                            </td>
                        </tr>

                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="pdf-contrato" class="card" class="d-none" *ngIf="tranfeResponse.data.length > 0">

    <div class="a">
        <div class="fecha" style="float: right;">
            <h4>Buenos Aires, {{ tranfeResponse.head.FECHA | date : 'dd/MM/yyyy' }}</h4>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div id="pagina 2">

        <h4>Señor gerente del <br>Banco de la Provincia de Buenos Aires</h4>
        <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
        <br>
        <h4>De nuestra consideración:</h4>
        <br>
        <h4 style="float: right;">Ref.: CONVENIO DE PAGOS</h4>
        <br>
        <br>
        <p style="float: inline-end;">- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
        <br>
        <br>
        <br>
        <h4 style="text-indent: 320px;">Tengo el agrado de dirigirme a Ud. con relación al tema de referencia.</h4>
        <br>
        <br>
        <h4 style="text-indent: 320px;">Sobre el particular, adjunto diskette y listado de respaldo conteniendo los
            sueldos del personal de nuestra empresa de acuerdo al siguiente detalle: </h4>
        <br>
        <br>
        <div class="pagos">
            <h4>Cantidad de pagos: {{ tranfeResponse.head.CANTIDAD_TRANSFERENCIAS }}</h4>
            <h4>Total general a acreditar:
                <br>
                en Pesos.........: {{ tranfeResponse.head.TOTAL_IMPORTE | BsiCurrencyPipe }}
            </h4>
        </div>
        <br>
        <br>
        <h4 style="text-indent: 320px;">Asimismo, autorizo al Banco a debitar de nuestra cuenta corriente radicada en
            esa sucursal, los fondos necesarios para atender los pagos y la comisión del servicio.</h4>
        <br><br>
        <h4 style="text-indent: 320px;">Los pagos deben estar disponibles en las cajas de ahorros de nuestros empleados
            el dia {{ tranfeResponse.head.FECHA | date : 'dd/MM/yyyy' }} + 1</h4>
        <br>
        <br>
        <h4 style="text-indent: 320px;">Saluda a Ud. muy atentamente.</h4>
        <br>
        <br>
        <br>
        <div class="firma" style="float: inline-end;">
            <h4>----------------------------------------</h4>
            <h4>Firma y sello del titular de la cuenta corriente</h4>
        </div>
    </div>
</div>