

  <div class="card px-0 mb-3">

    <div class="card-header pt-3">
      
      <h5>
        Transferencias Inmediatas
      </h5>
     
    </div>

    <div *ngIf="ld_header" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <div class="card-body pb-0" *ngIf="tranfeResponse?.head">

      <div class="row">
        <div class="col-md-4">
          <div class="label fw-normal">Fecha:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].Fecha | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Cantidad de Transferencias:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].CantTran }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Importe Total:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].ImporteTotal | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="label fw-normal">CBU Origen:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].cbuOrigen }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Concepto:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].concepto }}</p>
        </div>
      </div>

    </div>

  </div>

<div class="card px-0 mb-3">

  <div class="card-body p-0" *ngIf="tranfeResponse?.head">

    <div class="table-responsive">
      <table class="table table-striped table-condensed table-hover mb-0">
        <thead style="opacity: 0.7;">
          <tr style="
          font-size: 110%;
          color:white;
          background: linear-gradient(270deg, rgb(141, 36, 36), rgb(13, 110, 253)) !important;
    --darkreader-inline-bgimage: linear-gradient(270deg, #6e3635, #4673b6);
    --darkreader-inline-bgcolor: initial;">
            <th>CBU</th>
            <th>Importe</th>
            <th>Referencia</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let sol of tranfeResponse?.data">
            <tr>
              <td>{{ sol.CBU }}</td>
              <td>{{ sol.Importe | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
              <td>{{ sol.Referencia }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

  </div>
  
</div>

<div class="card px-0">

  <div class="card-header">

  <h5>Exportar TR</h5>

  </div>

  <div class="card-body">

    <button type="button" class="btn btn-primary" 
    (click)="getFile()"> Descargar Archivo </button>

  </div>

</div>




