

  <div class="card">

    <h4 style="padding-top: 10px;padding-bottom: 10px;border-bottom: 1px solid #b3b3b3;padding-left: 10px;">
      Trasnferencias Inmediatas

    </h4>

    <div *ngIf="ld_header" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

  </div>

  <!-- Panel para mostrar los datos de 'head' -->
<div class="card">
  <div class="card-header" style="padding-left: 0px;">
    <button class="btn btn-outline-primary" (click)="getFile()">Exportar Archivo</button>

  </div>

  <div class="card-body" *ngIf="tranfeResponse?.head" style="background-color: #cac4c43b;">

      <div class="row" style="font-size: 1.2rem;">
        <div class="col-md-4">
          <div class="label fw-normal">Fecha:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].Fecha | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Cantidad de Transferencias:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].CantTran }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Importe Total:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].ImporteTotal | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
        </div>
      </div>

      <div class="row" style="font-size: 1.2rem;">
        <div class="col-md-4">
          <div class="label fw-normal">CBU Origen:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].cbuOrigen }}</p>
        </div>
        <div class="col-md-4">
          <div class="label fw-normal">Concepto:</div>
          <p class="fw-bold">{{ tranfeResponse.head[0].concepto }}</p>
        </div>
      </div>

</div>

<!-- Tu tabla existente para mostrar los datos de 'data' -->
<div class="card">
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr style="
        font-size: 110%;
    ">
          <th>CBU</th>
          <th>Importe</th>
          <th>Referencia</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sol of tranfeResponse?.data">
          <tr>
            <td>{{ sol.CBU }}</td>
            <td>{{ sol.Importe | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
            <td>{{ sol.Referencia }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

