<div class="card">

  <div class="card-header">
    <h4>Menú Principal</h4>
  </div>

  <div class="card-body row">

    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let activity of movements">
      <div class="card" [ngClass]="{'disabled': !activity.enabled}">
        <div class="card-body">
          <h5 class="card-title">{{activity.title}}</h5>
          <p class="card-text">{{activity.description}}</p>
          <div class="d-flex flex-row flex-wrap">

            <div *ngFor="let item of activity.items; let isLast=last" class="flex-grow-1" [class.me-2]="!isLast">
              <a [routerLink]="activity.enabled ? [item.link] : []"
                [ngClass]="activity.enabled ? 'btn btn-primary' : 'btn btn-outline-primary'" class="fw-bold w-100"
                (click)="activity.enabled ? null : showAds()">
                Ir a {{ item.description }}
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>


</div>